
.slide{
  background-image: url(../../../assets/images/SignUpposter.png);
  background-size: contain;
  height: 650px;
  background-repeat: no-repeat;
background-position: right;

}

.imgBack{
  height: 750px !important;
  margin-top: -100px !important;
}

.loveCircle{
  background-image: url(../../../assets/images/circle.png);
  background-size: cover;
  height: 1000px;
  background-repeat: no-repeat;
background-position: center;
}

.instant{
  text-shadow: 2px 9px 20px #ff0000;
}

#lineCurve{
  text-decoration: wavy underline  #ff0000; /* Curved lines ke liye text-decoration property ka istemal kiya gaya hai */
  text-underline-position: under; /* Underline ko word ke nichle position par laane ke liye text-underline-position property ka istemal kiya gaya hai */
}

.imgHeartBeat{
  width: 150px;
}

#percent{
  font-size: 1.5rem;
  font-weight: 700;
}
/* form */
.form {
  width: 60%;
  position: relative;
  height: 60px;
  overflow: hidden;
  margin-bottom: 15px;
}

.form input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  background: inherit;
  outline: none;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid rgb(210, 42, 42);
  color: rgba(23, 7, 7, 0.671);
}

.content-name {
  position: absolute;
  bottom: 5px;
  right:  0px;
  transition: all 0.3s ease;
}



