<nav class="navbar navbar-expand-lg sticky-top" [ngStyle]="{'background-color': bgColor}">
  <div class="container">
    <a class="navbar-brand text-danger" style="font-weight: 800; font-size: 2rem; cursor:pointer;"
      routerLink="/">Dating</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav  ">

        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" routerLink="/service">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/privacy">Privacy</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact </a>
        </li>


        <li class="nav-item">
          <a class="nav-link textdanger" routerLink="/dashboard"><b>Dashboard</b></a>
        </li>


        <!-- <li class="nav-item">
          <a class="nav-link text-warning" routerLink="/profile"><b>My Profile</b></a>
        </li> -->


        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;

        &nbsp;
        &nbsp;

        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;



        <li class="nav-item" style="visibility: hidden;">
          <a class="nav-link" href="#">Contact us</a>
        </li>


        <li class="nav-item">
          <button class="btn btn-danger" routerLink="login">Sign in</button>
        </li>


      </ul>
    </div>
  </div>
</nav>
