<app-dashboard-header></app-dashboard-header>
<div class="container mt-5 ">


    <div class="row d-flex justify-content-center">

      <!-- <div class="col-12 mt-4 mb-2">
            <h3><b>You Intrested</b></h3>
            <hr class="textdanger" >
        </div> -->


      <!-- Like Start -->

      <div class="col-lg-3 col-md-3 col-sm-6 mt-2 mb-4">

        <div class="card shadow border-0" style="overflow: auto !important; max-height: 80%;">
          <div class="card-header sticky-top bg-warning">
            <h6>You may like</h6>
          </div>
          <div class="">
            <ul class=" CARD list-group list-group-flush ">
              <li class="list-group-item d-flex justify-content-between " *ngFor="let like of [1,1,1,1,1]; let i = index;">
                <div class="imgSection m-1">
                  <img class="img-fluid " src="../../../assets/images/FiveSection.png" />
                </div>

                <div class="DetailSection m-1 ">
                  <h5>Jannei <br>
                  </h5>
                  <span class="text-muted ">Manager, 25</span>
                </div>

                <div class="buttonSection m-1 mt-3">
                  <!-- <p (click)="addReq(i)">{{ addRequest[i] ? 'bi bi-patch-plus-fill' : 'bi bi-patch-minus-fill' }}</p> -->
                  <i class="{{ addRequest[i] ? 'bi bi-patch-plus-fill' : 'bi bi-patch-minus-fill' }}"
                    [ngStyle]="{ 'color': addRequest[i] ? '#ff0000' : 'black' }" (click)="addReq(i)"></i>
                </div>
              </li>
              <!-- <i class="bi bi-patch-plus-fill"></i> : <i class="bi bi-patch-minus-fill"></i>  -->
            </ul>
          </div>
          <!-- <button class="btn btnwarning btn-sm" (click)="sendMessage(23)">Send Message</button> -->

        </div>
      </div>

      <!-- Like End -->



      <!-- Chat Request Start -->
      <div class="col-lg-3 col-md-3 col-sm-6 mt-2 mb-4">

        <div class="card shadow border-0" style="overflow: auto !important; max-height: 80%;">
          <div class="card-header sticky-top  bg-warning">
            <h6>Chat Request</h6>
          </div>
          <div class="">
            <ul class=" CARD list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between " *ngFor="let like of [1,1,1,1,]; let in = index;">
                <div class="imgSection m-1 ">
                  <img class="img-fluid bg-info" src="../../../assets/images/FiveSection.png" />
                </div>

                <div class="DetailSection m-1 ">
                  <h5>Jannei <br>
                  </h5>
                  <span class="text-muted ">Manager, 25</span>
                </div>

                <div class="buttonSection m-1 mt-3">
                  <!-- <p (click)="addReq(i)">{{ addRequest[i] ? 'bi bi-patch-plus-fill' : 'bi bi-patch-minus-fill' }}</p> -->
                  <i class="bi bi-chat-heart-fill" (click)="sendMessage(in)"></i>
                </div>
              </li>
              <!-- <i class="bi bi-patch-plus-fill"></i> : <i class="bi bi-patch-minus-fill"></i> 
            <i class="bi bi-chat-heart-fill"></i>
            -->
            </ul>
            
          </div>
          <!-- <button class="btn btnwarning btn-sm" (click)="sendMessage(23)">Send Message</button> -->

        </div>
      </div>
      <!-- Chat Request End -->



      <!-- Work On Dating Start -->
      <div class="col-lg-2 col-md-2 col-sm-6 mt-2 mb-4">

        <div class="card shadow border-0"  style=" max-height: 80%;">
          <div class="card-header  bg-warning">
            <h6>Work on dating</h6>
          </div>
          <div class="">
           <p class="text-muted text-justify m-2 p-2  text-wrap text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem amet.</p>
        </div>

        <div class="viewCareer text-center">
            <a class="s">View Careers <i class="bi bi-arrow-right-circle-fill"></i></a>
            
        </div>

        <div class="imgContent">
            <img class="img-fluid" src="../../../assets/images/cartoonChara.png" />
        </div>
          <!-- <button class="btn btnwarning btn-sm" (click)="sendMessage(23)">Send Message</button> -->

        </div>
      </div>
      <!-- Work On Dating End -->

      <!-- <div class="bgFlower">
    </div> -->
      <!--  Request Send Start -->
      <div class="col-lg-3 col-md-3 col-sm-6 mt-2 mb-4 ">
          <div class="card shadow border-0" style=" max-height: 80%;">
              <div class="imageSection text-center">
                  <img src="../../../assets/images/FourthSection2.png" alt="">
                </div>
                <div class="imageContent mt-2 mb-2 m-2 p-2 text-center">
                    <h3><b>Sent!</b></h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                
                <div class="buttonSections text-center mt-2 mb-3">
                    <button class="btn btn-danger"><i class="bi bi-arrow-right-short"></i></button>
            </div>
        </div>
      </div>
      <!--  Request Send End -->


    </div>


  </div>